<!doctype html>
<html>
<head>
    <title><%= shopName %> - About</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>About <%= shopName %></h1>
    <p>We have multiple locations with friendly managers:</p>

    <ul class ="shop-list">
      <% shops.forEach(function(shop){ %>
        <li>
          <strong><%= shop.location %></strong><br>
          Manager: <%= shop.manager %><br>
          Address: <%= shop.address %>
        </li>
      <% }) %>
    </ul>
</body>
</html>
